:root{
    --darkGreen: rgb(26, 83, 26, 0.75);
    --leafGreen: rgb(80, 179, 80, 0.75);
    --woodBrown: rgb(97, 57, 31, 0.75);
    --borderRounding: 10px;
    --borderShadow: 1px 1px 3px black;
}

*{ 
  word-wrap: normal; 
  font-family: 'Times New Roman', Times, serif; 
  color: white;
  text-align: center;
  display: flex;
  margin: 1%;
}
head{
    display: none;
}
script{
    display: none;
}
body{
    background-image: url("../images/backgroundImage.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex: auto;
    flex-direction: column;
    padding: 2%;
}

header{
    background-color: var(--darkGreen);
    border-radius: var(--borderRounding);
    box-shadow: var(--borderShadow);
    
    width: 100%;
    margin-bottom: 2%;    
}
nav{
    width: 30%;
    justify-content: center;
}
header ul{
    
    font-size: 25px;
    flex-direction: row;
    width: 100%;
}
header li{
    flex-grow: 1;
    align-content: center;
}
.Work-Links {
    flex-direction: column;
    position: relative;
}

  .Work-Links .Link-Content {
    display: none;
    position: relative;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: var(--woodBrown);
    padding: .5em;
    min-width: 10rem;
    border-radius: var(--borderRounding);
    box-shadow: var(--borderShadow);
  }
  .Work-Links:hover .Link-Content {
    display: block;
  }

main{

    flex-direction: row;
    flex-wrap: nowrap;
}
img{
    max-width: 45%;
    max-height: 100%;
    border-radius: var(--borderRounding);
    box-shadow: var(--borderShadow);
    margin: auto;
 
    }
p{
    font-size: medium;
    margin: 10px;
    text-align: left;
    font-size: 25px;
    line-height: 150%;
}
h1{
    font-size: 50px;
    font-weight: bold;
    width: 70%;
    align-content: left;
    text-decoration: underline;
}
h2{
    font-size: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}
h3{
    width: 100%;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    text-decoration: underline;
}

.About-Me{
    background-color: var(--woodBrown);
    border-radius: var(--borderRounding);
    box-shadow: var(--borderShadow);
   
    flex-direction: column;
    width: 20%;
    margin-bottom: 2%;
    justify-content: left;
    align-items: center;
}
.About-Me img{
    margin: 2%;
}


.My-Work{
    background-color: var(--leafGreen);
    border-radius: var(--borderRounding);
    box-shadow: var(--borderShadow);

    margin-left: 2%;
    flex-flow: column nowrap;
    width: 80%;
    justify-content: right;
    
    margin-bottom: 2%;
}
.My-Work  a{
    max-width: 45%;
    max-height: 100%;
    margin-left: 2%;
    justify-content: left;
    
}
.My-Work img{

    max-width: 100%;
    max-height: 100%;
}
.My-Work div{
    align-content: center;
    flex-direction: row;
    margin: 1%;
    justify-content: center;

}
.My-Work p{
    width: 45%;
    justify-content: center;
    margin: 5%;
    flex-direction: column;
}
#projectOne{
    width: 100%;
    max-height: 100%;
    
}
footer{
    width: 100%;
}
footer ul{
    
    font-size: 15px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
footer li{
    align-content: center;
    margin: 1%;
}


.Contact-Info{
    background-color: var(--darkGreen);
    border-radius: var(--borderRounding);
    box-shadow: var(--borderShadow);
}
img:hover::after{
    content: attr(alt);    
}